/*Faz a estilazação do arquivo header.php*/

.header {
	width: 100%;
	background: #000000;
}

.header-logo {
	width: 25%;
}

.header-icon {
	width: 50px;
	height: 50px;
	cursor: pointer;
	float: right;
	margin-right: 8%;
	margin-top: 13%;
}

.header-hamburguer {
	width: 50px;
	height: 6px;
	background: #fff;
	transition: .5s;
	transform: scale(1.3);
}

.header-hamburguer:after, .header-hamburguer:before {
	content: '';
	width: 50px;
	height: 6px;
	background: #fff;
	position: absolute;
	transition: .5s
}

.header-hamburguer:before {
	top: -11px;
}

.header-hamburguer:after {
	top: 12px;
}


/*Ação de clique no menu*/
.header-icon.open .header-hamburguer {
	background: rgba(0, 0, 0, 0);
}

.header-icon.open .header-hamburguer:before {
	transform: rotate(45deg);
	top: 0;
}

.header-icon.open .header-hamburguer:after {
	transform: rotate(135deg);
	top: 0;
}
/*Faz a esilização quando o .header-icon é clicado e ativa a exibicao do menu*/

.header-menu {
	text-align: center;
	height: 0;
	position: absolute;
	background: #000;
	width: 100%;
	transition: .5s;
	z-index: 3;
}

.header-menu ul li {
	display: none;
	padding: 4%; 
}

.header-menu ul li a {
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
}

.header-menu.growup {
	height: 300px;
}

.header-menu.growup ul li {
	display: block;
}