@font-face {
	src: url("../fonts/OpenSans.ttf");
	font-family: "Site";
}

* {
	margin: 0;
	padding: 0;
	font-family: "Site", sans-serif;	
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #0769b2;
}

a:visited {
	color: #0769b2;
}